<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>4chan Catalog - /<%= @opts.slug %>/</title>
  <meta name="description" content="4chan's /<%= @opts.slug %>/ Catalog displays every thread on a single page.">
  <meta name="keywords" content="4chan,/<%= @opts.slug %>/,catalog,catalogue,threads,list,stats,statistics">
  <% if @opts.write_rss %>
  <link rel="alternate" title="4chan Catalog - /<%= @opts.slug %>/" href="/<%= @opts.slug %>/feed.rss" type="application/rss+xml">
  <% end %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/fourcat-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body contextmenu="ctxmenu-main">
<!--<div id="protip"></div>-->
<script type="text/javascript">
var catalog = <%= jsonify_threads(threadlist, order) %>;
</script>
<div id="header">
  <h1 id="title"><%= @opts.title %></h1>
  <ul id="topnav">
    <li><a class="button" href="/">Home</a></li><li class="sep">|</li>
    <% if @opts.stats %>
    <li><a class="button" href="/stats.html">Stats</a></li>
    <li class="sep">|</li>
    <% end %>
    <li><a class="button" href="/a/">/a/</a></li>
    <li><a class="button" href="/jp/">/jp/</a></li>
    <li class="sep">|</li>
    <li><a class="wut button" target="_blank" title="/<%= @opts.slug %>/ on 4chan" href="http://boards.4chan.org/<%= @board %>/"><img alt="" src="/images/4chan.png"></a></li>
    <% if @opts.write_rss %>
    <li id="rss"><a target="_blank" class="wut" title="RSS Feed" href="/<%= @opts.slug %>/feed.rss"><img alt="" src="/images/rss.png"></a></li>
    <% end %>
  </ul>
</div>
<div id="content">
<div id="ctrl">
  <div id="info">
    <a id="refresh" data-title="Delay is" href="" class="button">Refresh</a> Updated <span id="updated"></span> ago &mdash; Ordered by <span id="ordered-date">creation date</span><span id="ordered-alt">bump date</span><span id="filtered-label"> &mdash; Filtered threads: <span id="filtered-count"></span></span><span id="hidden-label"> &mdash; Hidden threads: <span id="hidden-count"></span> - <a id="filters-clear-hidden" href="">show</a></span>
  </div>
  <div id="settings">
    <span>Reorder:</span><span data-lbl-date="Date" data-lbl-alt="Natural" id="order-ctrl" class="button"></span>
    <span>Resize:</span><span data-lbl-small="Small" data-lbl-large="Large" id="size-ctrl" class="button"></span>
    <span>Teaser:</span><span data-lbl-show="Show" data-lbl-hide="Hide" id="teaser-ctrl" class="button"></span>
    <span class="sep">|</span>
    <span id="filters-ctrl" class="button">Filters</span>
    <span id="theme-ctrl" class="button">Theme</span>
    <span title="Redirect to the archive" id="proxy-ctrl" class="button">Proxy</span>
    <span id="qf-ctrl" class="button">Search</span>
    <span style="display:none" id="qf-cnt">
      <input type="text" id="qf-box" name="qf-box"><span title="Search (Enter)" id="qf-ok" class="button">&#x2714;</span><span title="Cancel (Escape)" id="qf-clear" class="button">&#x2716;</span>
    </span>
  </div>
  <div class="clear"></div>
</div>
<div id="threads"></div>
<div id="totop"><span class="button">&#8593; Back to Top &#8593;</span></div>
</div>
<div id="footer">
  Running <a href="https://github.com/desuwa/fourcat">4cat <%= VERSION %></a> &mdash; Data pulled from <a href="http://www.4chan.org">4chan.org</a>
</div>
<noscript>
  <div id="nojs">
    <span>Your web browser must have JavaScript enabled in order for this site to display correctly.</span>
  </div>
</noscript>
<div id="filters" class="panel">
  <div id="filters-protip" class="panel">
    <h4>Patterns</h4>
    <ul>
      <li>
        <ul>
          <li><strong>Matching whole words:</strong></li>
          <li><code>craft</code> &mdash; will match <em>"craft"</em> but not <em>"minecraft"</em> or <em>"diablocraft"</em>.</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><strong>AND operator:</strong></li>
          <li><code>detachable hats</code> &mdash; will match teasers containing the words <em>"detachable"</em> AND <em>"hats"</em>.</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><strong>OR operator:</strong></li>
          <li><code>gsl|starcraft|sc2</code> &mdash; matches <em>"gsl"</em> OR <em>"starcraft"</em> OR <em>"sc2"</em></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><strong>Mixing both operators:</strong></li>
          <li><code>sanae|ohana pure</code> &mdash; matches <em>"pure"</em> AND <em>"sanae"</em>, or <em>"pure"</em> AND <em>"ohana"</em></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><strong>Exact match search:</strong></li>
          <li><code>"until you like it"</code> &mdash; place double quotes around the pattern to search for an exact string</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><strong>Wildcards:</strong></li>
          <li><code>*sankaku*</code> &mdash; this can find threads contaning links to sankaku</li>
          <li><code>idolm*ster</code> &mdash; can match <em>idolmaster</em> or <em>idolm@ster</em>, etc...</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><strong>Filtering by name or tripcode:</strong></li>
          <li>Prefix the pattern with # to search inside the <em>author</em> field:</li>
          <li><code>#!!3n8yyKtTvbU</code> &mdash; matches <em>SHiN !!3n8yyKtTvbU</em> or <em>Ayano Sugiura !!3n8yyKtTvbU</em>, etc...</li>
          <li><code>#Ayano</code> &mdash; matches <em>Ayano</em> or <em>Ayano Sugiura</em> or <em>Ayano Sugiura !!3n8yyKtTvbU</em>, etc...</li>
          <li><code>#</code> &mdash; this will match all non-anonymous threads.</li>
        </ul>
      </li>
      <li>
        <ul>
          <li><strong>It is also possible to filter by regular expression:</strong></li>
          <li><code>/^(?=.*detachable)(?=.*hats).*$/i</code> &mdash; AND operator.</li>
          <li><code>/^(?!.*touhou).*$/i</code> &mdash; NOT operator.</li>
          <li><code>/^&amp;gt;/</code> &mdash; threads starting with a quote (<em>"&gt;"</em> character as an html entity).</li>
          <li><code>/^$/</code> &mdash; threads with no text.</li>
        </ul>
      </li>
    </ul>
    <hr>
    <h4>Controls</h4>
    <ul>
      <li><strong>On</strong> &mdash; enables or disables the filter.</li>
      <li><strong>Hide</strong> &mdash; hides matched threads.</li>
      <li><strong>Top</strong> &mdash; puts matched threads on top of the list.</li>
    </ul>
    <hr>
    <ul>
      <li class="center"><span id="filters-help-close" class="button">Close</span></li>
    </ul>
  </div>
  <span id="filters-help-open" class="button right">Help</span><h3>Filters and Highlighters</h3>
  <hr>
  <ul>
    <li>&mdash; <em>Shift-click</em> thumbnails to manually hide threads.
    <li>&mdash; <em>Alt-click</em> to pin threads to the top.
  </ul>
  <hr>
  <table id="filter-table">
    <thead>
      <tr>
        <th>On</th>
        <th>Pattern</th>
        <th>Color</th>
        <th>Hide</th>
        <th>Top</th>
        <th>Del</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="filter-list">
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">
          <span id="filters-add" class="button left">Add</span>
          <span class="right">
            <span id="filters-msg"></span>
            <span id="filters-save" class="button">Save</span>
            <span id="filters-close" class="button">Close</span>
          </span>
        </td>
      </tr>
    </tfoot>
  </table>
  <div id="filter-palette" class="panel">
    <table id="filter-color-table">
      <tbody>
      </tbody>
      <tfoot>
        <tr>
          <td>Custom</td>
        </tr>
        <tr>
          <td class="middle-txt">#<input class="custom-rgb" type="text" name="custom-rgb" value="" id="filter-rgb"><span id="filter-rgb-ok" class="button clickbox"></span></td>
        </tr>
        <tr>
          <td>
            <span id="filter-palette-close" class="button">Close</span>
            <span id="filter-palette-clear" class="button">Clear</span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div id="theme" class="panel">
<h3>Theme</h3>
  <h4>Options</h4>
  <ul class="clickset">
    <li><span id="theme-notipsy" class="button clickbox left"></span>&mdash; Disable styled tooltips on thumbnails.</li>
    <li><span id="theme-magnify" class="button clickbox left"></span>&mdash; Enable thumbnail magnification in compact mode.</li>
    <li><span id="theme-altKey" class="button clickbox left"></span>&mdash; Use <em>Ctrl-click</em> instead of <em>Alt-click</em> to sticky threads.</li>
  </ul>
  <h4>Custom <a target="_blank" href="/stylesheets/style.css" title="Reference stylesheet">CSS</a></h4>
  <textarea id="theme-css" rows="4" cols="45"></textarea> 
  <hr>
  <span class="right">
    <span id="theme-msg"></span>
    <span id="theme-save" class="button">Save</span>
    <span id="theme-close" class="button">Close</span>
  </span>
</div>
<menu type="context" id="ctxmenu-main">
</menu>
<script type="text/javascript">
  $(document).ready(function() {
    $('#topnav').find('.wut').tipsy({gravity: 's'});
    $('#qf-ok, #qf-clear').tipsy({gravity: 'se'});
    var opts = {
    <% if @opts.content_uri %>
      contentUrl: '<%= @opts.content_uri %>'
    <% end %>
    }
    var fourcat = new $.fourcat(opts);
    fourcat.loadCatalog(catalog);
    $('#totop').find('.button').click(function() {
      $(window).scrollTop($('#header').offset().top);
    });
  });
</script>
</body>
</html>
