body {
  font-family: Times, 'Times New Roman', serif;
  background-color: #EEF2FF;
  font-size: 15px;
}

input {
  border-radius: 0;
}

code {
  background-color: #EEF2FF;
}

.button {
  color: #34345C;
  box-shadow: none;
  background: none;
  border-radius: 0;
}

.button:hover {
  background: none;
  color: #dd0000;
}

header .nu {
  border-radius: 10px;
}

#topnav .button {
  padding: 1px;
}

#topnav {
  margin-top: 10px;
}

#order-list {
  padding-bottom: 0px;
}

#ctrl {
  margin-top: 10px;
}

#threads {
  padding: 0;
  margin: 0;
}

.thread {
  background-color: #D6DAF0;
  margin: 2px;
  padding: 8px 0 10px 0;
}

.wide.extended .thread {
  border: none;
}

.wide.extended.small .thread {
  width: 22%;
}

.teaser {
  font-size: 15px;
  line-height: 17px;
  margin-top: 2px;
}

.teaser s {
  background-color: #000;
  color: #000;
}

.meta {
  font-size: 11px;
}

.meta b {
  color: #117743;
}

.thumb {
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.hl-high {
  text-shadow: none;
}

.hl {
  border-style: solid;
}

.pinned {
  border-style: dashed;
  border-color: #34345C;
}

.pinned:hover {
  border-color: #dd0000;
}

.panel {
  font-size: 13px;
  border: 3px solid #EEF2FF;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-color: #D6DAF0;
}

.clickbox {
  background-color: #EEF2FF;
  text-decoration: none;
}

.clickbox:hover {
  background-color: #EEF2FF;
}

#tooltip {
  font-size: 14px;
}

.post-reply {
  font-size: 13px;
}

.post-notext {
  font-size: 12px;
}

#title {
  color: #AF0A0F;
}

#qf-box {
  border: 1px solid #D6DAF0;
}

#ctrl,
#totop {
  border: none;
}

hr {
  border-top: 2px solid #EEF2FF;
}

#settings .active {
  color: #dd0000;
  text-decoration: overline;
}

#qf-clear {
  text-decoration: none;
}

#filter-palette {
  border: 1px solid #EEF2FF;
}
