body {
  font-family: Times, 'Times New Roman', serif;
  background-color: #FFFFEE;
  color: #800000;
  font-size: 15px;
}

input {
  border-radius: 0;
}

code {
  background-color: #FFFFEE;
}

header .nu {
  border-radius: 10px;
}

.button {
  color: #0000EE;
  box-shadow: none;
  background: none;
  border-radius: 0;
}

.button:hover {
  background: none;
  color: #dd0000;
}

.thread-ctrl {
  color: #0000EE;
}

.thread-ctrl .icon:hover {
  color: #dd0000;
}

.wide .score {
  left: 5px;
}

#title {
  font-weight: normal;
  font-size: 28px;
  border-bottom: 1px solid #888;
  width: 90%;
  margin: auto;
  padding-bottom: 5px;
}

#threads {
  margin-top: 15px;
}

#topnav .button {
  padding: 1px;
}

#topnav {
  margin-top: 10px;
}

#ctrl {
  padding-bottom: 5px;
  margin-top: 0;
}

#pinned-ctrl:before {
  font-size: 14px;
}

#info,
#settings {
  padding-top: 5px;
}

#order-list {
  background-color: #FFFFEE;
  border-left: 20px solid #FFFFEE;
  border-right: 20px solid #FFFFEE;
  margin-left: -17px;
  box-shadow: 0 -5px 2px 5px #FFFFEE;
}

#threads:before {
  content: 'Catalog Mode';
  position: absolute;
  width: 100%;
  color: #fff;
  left: 0;
  margin-top: -25px;
  background-color: #0040e0;
  font-size: 16px;
  padding-bottom: 2px;
}

.thread {
  border: 1px inset #aaa;
  margin: 1px;
}

.wide.extended .thread {
  border: 1px inset #aaa;
  padding: 5px;
}

.wide .thread {
  padding-top: 5px;
  padding-bottom: 4px;
}

#threads.wide {
  margin-top: 15px;
}
/* Thread in compact mode with teaser displayed */
.extended.small .thread {
  max-height: none;
  height: 320px;
}

/* Thread in large mode with teaser displayed */
.extended.large .thread {
  max-height: none;
  height: 430px;
}

.teaser {
  font-size: 15px;
  line-height: 17px;
}

.teaser s {
  background-color: #000;
  color: #000;
}

.meta {
  font-size: 11px;
}

.meta b {
  color: #117743;
}

.thumb {
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.hl-high {
  text-shadow: none;
}

.hl {
  border-style: solid;
}

.pinned {
  border-style: dashed;
  border-color: #0000EE;
}

.pinned:hover {
  border-color: #dd0000;
}

.panel {
  font-size: 13px;
  border: 3px solid #FFFFEE;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background-color: #F0E0D6;
}

.clickbox {
  background-color: #FFFFEE;
  text-decoration: none;
}

.clickbox:hover {
  background-color: #FFFFEE;
}

#tooltip {
  font-family: Arial, sans-serif;
}

#ctrl,
#totop {
  border: none;
}

#order-ctrl,
#size-ctrl,
#teaser-ctrl {
  margin-left: 3px;
}

#settings .active {
  color: #dd0000;
  text-decoration: overline;
}

hr {
  border-top: 1px solid #888;
}

#qf-box {
  border: 1px solid #888;
  padding: 0;
  border-radius: 0;
  top: -1px;
  position: relative;
}

#qf-clear {
  text-decoration: none;
}

#filter-palette {
  border: 1px solid #FFFFEE;
}
