@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/dancingscript/v3/DK0eTGXiZjN6yA8zAEyM2VhlQWQpSCpzb2Peu3I-Q34.woff) format('woff'),  url(//themes.googleusercontent.com/static/fonts/dancingscript/v3/DK0eTGXiZjN6yA8zAEyM2QNMAcR23K2W2XJa2LmwCb4.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff'), url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlEY6Fu39Tt9XkmtSosaMoEA.ttf) format('truetype');
}

body {
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #393836;
  background-color: #e7e7e7;
}

pre,
code {
  background-color: #f7f7f7;
  border: 1px solid rgba(45, 77, 59, 0.20);
  border-radius: 4px;
}

a {
  color: #dedede;
  border: none;
}

a:hover,
a:focus {
  color: #fff;
}

input,
textarea {
  border-radius: 3px;
  padding: 1px;
}

#title {
  color: #dedede;
  font-size: 36px;
  font-weight: normal;
  font-family: 'Dancing Script', serif;
}

@media all and (max-width: 480px) {
  #title {
    font-size: 20px;
  }
}

#protip {
  color: #000;
  background-color: #68b088;
  padding: 2px 5px;
  text-align: left;
  border-bottom-right-radius: 6px;
}

#protip a { color: #fff; }
#protip a:hover { color: #000; }

#qf-box {
  border-radius: 10px;
  padding-left: 3px;
  padding-right: 3px;
}

header,
footer {
  background-color: #2b2b2b;
  color: #9e9e9e;
  padding: 5px 10px 4px 10px;
  box-shadow: 0 0 0 3px rgba(45, 77, 59, 0.20);
}

#order-list {
  background-color: #2b2b2b;
  box-shadow: 0px -20px 5px 15px #2b2b2b;
  padding: 2px 0 3px 0;
}

#order-ctrl {
  position: relative;
  z-index: 2;
}

.button,
.button:focus {
  color: #dedede;
  background-color: #2b2b2b;
  background-image: none;
  border-radius: 10px;
}

.button:hover,
.active {
  color: #000;
  background-color: #68b088;
  background-image: none;
}

#pinned-ctrl:before {
  font-size: 14px;
  vertical-align: middle;
}

header .button {
  box-shadow: none;
  padding: 2px 3px;
}

#info, #settings {
  padding: 5px 0;
}

header nav {
  margin-top: 2px;
}

#totop {
  border: none;
}

#topnav .button {
  margin: 0;
}

#topnav,
#ctrl {
  margin: 0;
  padding: 0;
  border: none;
}

.thread {
  padding: 0 0 5px 0;
}

.thread-ctrl {
  color: #2b2b2b;
}

.thread-ctrl .icon:hover {
  color: #68b088;
}

.extended.large .thread {
  max-height: 460px;
}

.extended.small .thread {
  max-height: 340px;
}

.thumb {
  border: none;
  box-shadow: 0 0 0 3px rgba(45, 77, 59, 0.06);
}

.wide.extended .thread {
  border-bottom: 3px solid rgba(45, 77, 59, 0.06);
}

.hl-high {
  text-shadow: none;
}

.thumb-new {
  box-shadow: 0 0 3px 3px #4EA4FA;
}

.hl {
  border-style: solid;
}

.meta {
  font-size: 11px;
  margin-top: 2px;
}

.meta b {
  margin-left: 1px;
}

.teaser {
  line-height: 17px;
}

.teaser s {
  background-color: #68b088;
  color: #68b088;
}

.pinned {
  box-shadow: none;
  border: 3px dashed #393836;
}

.pinned:hover {
  border-color: #393836;
}

.panel {
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: #e7e7e7;
  box-shadow: 0 0 0 3px rgba(45, 77, 59, 0.06);
}

.panel .button {
  border-radius: 5px 5px 5px 5px;
}

.panel hr {
  border-top: 2px solid rgba(45, 77, 59, 0.06);
}

.clickbox {
  color: #dedede;
  background-color: #2b2b2b;
  border-radius: 5px 5px 5px 5px;
}

.panel .active,
.clickbox:hover {
  color: #fff;
}

#qf-clear {
  text-decoration: none;
}

#filter-palette {
  border: 1px solid #EEE;
}

.msg-ok {
  background-color: #68b088;
}

#tooltip {
  font-size: 13px;
  color: #dedede;
}

.post-author { color: #68b088; font-weight: normal; }

.post-reply {
  border-top: 1px solid rgba(45, 77, 59, 0.75);
}

.flag {
  margin: 4px 0 0 -20px;
}

.nu {
  box-shadow: 0 0 10px 3px #4EA4FA !important;
}

.nu2 {
  text-shadow: 0 3px 3px #4EA4FA, 0 -3px 3px #4EA4FA !important;
}
