body {
  font: 15px
    Sylfaen,
    'Century Schoolbook L',
    'Times New Roman',
    serif;
  color: #232c33;
  background-color: #F4F0EC;
}

code {
  background-color: #FFFAFA;
}

a {
  color: #007FFF;
  border: none;
}

a:hover,
a:focus {
  color: #C41E3A;
}

input,
textarea,
select {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 0 2px #fff inset;
}

header .button {
  padding: 2px 3px;
}

.button {
  color: #007FFF;
  box-shadow: none;
  background: none;
  border-radius: 0;
}

.button:hover {
  background: none;
  color: #C41E3A;
}

header .nu {
  border-radius: 10px;
}

#topnav .button {
  padding: 2px;
}

#topnav {
  margin-top: 10px;
}

#threads {
  margin: 0px;
  padding-top: 10px;
}

.thread {
  margin: 1px;
  padding: 15px 0;
}

.wide.extended .thread {
  border-bottom: 2px dashed #ccc;
}

.hl-high {
  text-shadow: none;
}

.thumb {
  border: none;
  box-shadow: 0 0 5px rgba(112, 128, 144, 0.45);
}

.thumb-new {
  box-shadow: 0 0 3px 3px #007FFF;
}

.hl {
  border-style: solid;
}

.meta {
  font-size: 12px;
  line-height: 9px;
}

.meta b {
  color: #00A550;
}

.teaser {
  line-height: 18px;
}

.teaser s {
  background-color: #EAE0C8;
  color: #EAE0C8;
}

.pinned {
  border: 3px dashed #007FFF;
}

.pinned:hover {
  border-color: #C41E3A;
}

.panel {
  border: none;
  border-radius: 5px 5px 5px 5px;
  background-color: #F4F0EC;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  font-family: Sylfaen, 'Times New Roman', serif;
}

.panel .button {
  border-radius: 5px 5px 5px 5px;
}

.clickbox {
  background-color: #EAE0C8;
  color: #000;
  border-radius: 5px 5px 5px 5px;
}

.panel .active,
.clickbox:hover {
  background-color: #C41E3A;
  color: #fff;
}

#order-list {
  padding-bottom: 0px;
}

#ctrl {
  margin-top: 10px;
}

#ctrl,
#totop {
  border-bottom: 2px dashed #ccc;
}

hr {
  border-top: 2px dashed #ccc;
}

#settings .active {
  color: #C41E3A;
  text-decoration: underline;
}

#qf-clear {
  text-decoration: none;
}

#filter-palette {
  border: 1px solid #EEE;
}

#tooltip {
  font-family: Arial, sans-serif;
}

#footer {
  font-size: 15px;
  line-height: 16px;
}
