body {
  font-family: arial, helvetica, sans-serif;
  background-color: #282A2E;
  color: #C5C8C6;
  font-size: 10pt;
}

code {
  background-color: #1D1F21;
  color: #B5BD68;
}

a {
  color: #81A2BE;
}

a:hover,
a:focus {
  color: #5F89AC;
}

kbd {
  color: #000;
}

input,
textarea,
select {
  background-color: #C5C8C6;
}

select {
  border: none;
  border-radius: 5px;
}

.sep {
  font-size: 16px;
  color: #555;
}

.button {
  color: #81A2BE;
  box-shadow: none;
  background: none;
  border-radius: 0;
}

.button:hover {
  background: none;
  color: #5F89AC;
}

#topnav .button {
  padding: 2px;
}

#oder-list {
  padding-left: 2px;
}

.thumb {
  border: none;
}

@media all and (min-width: 800px) {
  .thumb {
    opacity: 0.85;
  }
}

.thumb:hover,
.thumb:focus {
  opacity: 1;
}

.pinned,
.pinned:hover {
  border: 3px dashed #fff;
}

.hl {
  border-style: solid;
}

.hl-high {
  text-shadow: none;
}

.panel {
  font-size: 12px;
  border: 2px solid #1D1F21;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  background-color: #282A2E;
}

.extended-small .thread {
  max-height: 300px;
}

.teaser s {
  background-color: #1D1F21;
  color: #1D1F21;
}

#filtered-count,
#hidden-count,
.meta b {
  color: #B5BD68;
}

.clickbox {
  border-radius: 5px 5px 5px 5px;
  background-color: #81A2BE;
  color: #282A2E;
}

.clickbox:hover {
  background-color: #5F89AC;
  color: #282A2E;
}

#title {
  font-family: Tahoma;
  letter-spacing: -2px;
}

a,
#ctrl,
#totop {
  border-bottom: 1px solid #444;
}

#settings .active {
  color: #B5BD68;
  font-weight: bold;
}

#qf-clear {
  text-decoration: none;
}

#filter-palette {
  border: 2px solid #1D1F21;
}

#rss {
  opacity: 0.5;
}

#rss:hover {
  opacity: 1.0;
}

#tooltip {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
}
